<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>221</string>
					<key>StartingColumnNumber</key>
					<string>2</string>
					<key>StartingLineNumber</key>
					<string>220</string>
					<key>Timestamp</key>
					<string>756019601.5601569</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>OOP_Project_Practice/bar.cpp</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>int main(){
</string>
				<key>leading</key>
				<string>//};
//
//</string>
				<key>trailing</key>
				<string>//    BarGraph hm(6, 1000, 1000);
//    double hm_h[6] = {210, 10, 29, 4, 56, 41};
//    string arr[6] = {"Jawa", "RF", "Hayabusa", "Kawasaki", "Harley", "Yezdi"};
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>221</string>
					<key>StartingColumnNumber</key>
					<string>2</string>
					<key>StartingLineNumber</key>
					<string>220</string>
					<key>Timestamp</key>
					<string>756019601.5601161</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>OOP_Project_Practice/bar.cpp</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>int main(){
</string>
				<key>leading</key>
				<string>//};
//
//</string>
				<key>trailing</key>
				<string>//    BarGraph hm(6, 1000, 1000);
//    double hm_h[6] = {210, 10, 29, 4, 56, 41};
//    string arr[6] = {"Jawa", "RF", "Hayabusa", "Kawasaki", "Harley", "Yezdi"};
</string>
			</dict>
			<key>title</key>
			<string>Expected ';' at end of declaration</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
